hotspot.log
*.bak
*.iml
*.ipr
*.iws
target/
classes/
/var
#pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
war/
bin/
gwt-unitCache/
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~

/SourceCode/IVR/callertone/sounds
/SourceCode/IVR/callertone/media
/SourceCode/IVR/callertone/*.bak
/SourceCode/IVR/callertone/*.bak
/SourceCode/IVR/ivr_support669/sounds
/SourceCode/IVR/ivr_support669/media
/SourceCode/IVR/ivr_support669/*.bak
/SourceCode/IVR/ivr_support669/*.bak

